@import '../../../common/globalStyles/colors.scss';

.navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.linkButtons {
  margin: 20px;
  border: 1px solid $black;
  border-radius: 5px;
}

.linkContent {
  position: relative;
  text-align: center;
}

.title {
  font-size: 25px;
  position: absolute;
  line-height: 30px;
  padding: 5px 0;
  top: 0;
  background-color: $lightGray;
  z-index: 1;
}

.image {
  filter: blur(2px);
  width: 250px;
}