.appModal {
  & > div:nth-child(2) {
    height: 440px !important;
    position: relative;
  }
}

.control {
  position: absolute;
  bottom: 24px;
}

.content {
  text-align: center;
  margin-top: 16px;
}

.deacivateWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20% 0;
}

.deacivateTitle {
  text-align: center;
  margin-bottom: 130px;
}