@import '../../../common/globalStyles/colors.scss';

.wrapper {
  width: 70%;
  margin: 20px auto 0 auto;
}

.tableWrapper {
  margin: 20px 0;
}

.groupATitle {
  color: $green;
}

.groupBCTitle {
  color: $blue;
}

.groupXTitle {
  color: $red;
}