@import '../../../common/globalStyles/colors.scss';

.wrapper {
  width: fit-content;
  margin: 0 auto;
}

.associationsInfoWrapper {
  display: flex;
  align-items: center;
  background-color: $powder;
  border: 2px solid $gold;
  margin: 10px 0;
}

.antecedentWrapper {
  display: flex;
  margin: 10px 0;
}

.card {
  width: 150px;
  height: 126px;
}

.card > div:first-child {
  height: 100px;
}

.card > div:last-child {
  padding: 8px;
}

.cardTitle > div > div {
  font-size: 12px;
}

.symbolToIcon {
  font-size: 30px;
}

.confidenceWrapper {
  font-size: 16px;
  margin: 0 20px 0 10px;
}

.settingsInfoWrapper {
  width: 400px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid $green;
  border-radius: 5px;
  padding: 10px 20px;
}

.settingsInfo {
  display: flex;
  color: $green;
  font-weight: bold;
}

.settingItem {
  margin: 0 5px;
}

.deleteIcon {
  font-size: 20px;
  cursor: pointer;

  & > svg {
    fill: $red;
  }
}