@import '../../../common/globalStyles/colors.scss';

.swiper {
  width: 50%;
  margin: 0;
  background-color: gray;

  .swiper-pagination-bullet {
    background: $white !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $white !important;
  }
}
