@import "./colors.scss";

.ant-popconfirm .ant-popover-message {
  padding: 2px 0;
}

.ant-btn.ant-btn-primary {
  border: 1px solid $gold !important;
  color: $black !important;
  background: $gold !important;
  text-transform: uppercase;
}

.ant-card {
  margin: 0 10px;
}

.ant-card-meta-title {
  font-size: 24px;
}

.ant-drawer-content-wrapper {
  height: 300px !important;

  .ant-drawer-content {
    background-color: $black !important;
    color: $white;
  }
  .anticon-close > svg {
    fill: $gold;
  }
  .ant-drawer-title {
    text-align: right;
  }
}
