$white: #ffffff;
$white-blue: #e7eff5;
$black: #202020;
$gold: #f2c94c;
$gray: #7b7979;
$red: #ed2e2e;
$gray-light: #d9d9d9;
$blue: #4b9ef7;
$brown: #bfbfbf;
$green: rgb(44, 182, 44);
$lightGray: #e1e7e5bd;
$powder: #acd4d9