@import './colors.scss';

.react-datepicker__input-container .react-datepicker__calendar-icon {
  position: relative !important;
  z-index: 1;
  padding: 0 !important;
  left: 20px;
}
.react-datepicker__input-container input {
  width: 215px !important;
  border: 1px solid $gray-light;
  height: 33px;
  cursor: pointer;
}

.react-datepicker__input-container input:hover {
  border: 1px solid $blue;
}
.react-datepicker__input-container {
  width: max-content;
}
